%form{ action: '/', method: 'post', 'accept-charset' => 'UTF-8' }
  .row{ style: 'display: none' }
    %select{ name: 'type' }
      %option{ value: 'text_plain' } Plain Text
  .row
    %textarea{ name: 'contents' }
  .row.centered
    %input{ type: 'submit' }
