.wrapper-dropdown
  position relative

  &:after
    content ""
    width 0
    height 0
    position absolute
    right 16px
    top 50%
    margin-top -6px
    border-width 6px 0 6px 6px
    border-style solid
    border-color transparent #888

  .dropdown
    position absolute
    bottom 2em
    left 0
    right 0
    background #fafafa
    list-style none
    font-weight normal
    border #ddd 1px solid
    border-radius 5px
    opacity 0
    pointer-events none
    height 20em
    overflow-x ellipsis
    overflow-y auto
    padding 0

    li
      display block
      text-decoration none
      color #9e9e9e
      padding 10px 20px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

      &:hover
        background #ccc
        color #fff
        text-shadow none
        cursor pointer

      &.selected
        background #eee
        color #666

  &.active
    background #fafafa

    .dropdown
      opacity 1
      pointer-events auto

    &:after
      border-color #aaa transparent
      border-width 0 6px 6px 6px
      margin-top -3px

/* No CSS3 support */

.no-opacity, .no-pointerevents
  .wrapper-dropdown .dropdown
    display none
    opacity 1
    pointer-events auto

  .wrapper-dropdown.active .dropdown
    display block
